#logo{
    font-size: 30px;
}
.logo-color{
    color:#27A365;
}
.navbar{
    margin: 0 71px
}
.search-icon{
    position: relative;
    left: 30px
}
.input-field{
    width: 360px!important;
    border-radius: 21px!important;
}

@media screen and (max-width: 900px) {
    .navbar{
        margin: 0 20px
    }
}

@media screen and (max-width: 600px) {
    .navbar{
        margin: 5px 10px
    }
    .input-field{
        width: 60px!important;
    }
}